extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let kangarooid = toShow._id
    - let k_name = toShow.k_name
    - let k_age = toShow.k_age
    - let k_jumpheight = toShow.k_jumpheight
    - let actionid = "/resource/kangaroo/" + kangarooid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='kangarooAttr mr-3') kangaroo ID is:
        div #{kangarooid}
      div.row
        div(class='kangarooAttr mr-3') kangaroo Name is:
        div #{k_name}
      div.row
        div(class='kangarooAttr mr-3') kangaroo Age is:
        div #{k_age}
      div.row
        div(class='kangarooAttr mr-3') kangaroo Jumpheight is:
        div #{k_jumpheight}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the kangaroo collection
        window.location.href='/kangaroo'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/kangaroo'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error)
        });
      }
